<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles.css">
        <title>Welcome!</title>
    </head>
    <body>
        <div class="container">
            <h1>Welcome to the number guessing name!</h1>
            <h2>Think of a number (between 1 and 1000) and I'll guess what number it is in less than ten steps.</h2>
            <p>Press START to start</p>
            <form action="" method="POST">
                <button>START</button>
            </form>
        </div>
    </body>
</html>
